*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

form{
  display: flex;
  flex-direction: column;
  margin-block: 1.25rem;
  width: 100%;
}

input{
  margin-block: 0.438rem;
  height: 2.88rem;
  border-radius: 0.375rem;
  border: 0.063rem solid black;
  padding-inline: 0.438rem;
}

#btn-add{
  height: 2.188rem;
  border-radius: 0.438rem;
  border: none;
  cursor: pointer;
  transition: 0.9s;
}

#btn-add:hover{
  background-color: #d9d9d9;
  box-shadow: 0 5px 10px rgba(5, 5, 5, 0.3);
}

.table-container{
  max-width: 50rem;
  margin: auto;
  margin-block: 1.875rem;
}

table, td, th{
  border: 0.063rem solid #ddd;
  text-align: left;
}
table{
  border-collapse: collapse;
  width: 100%;
  border-radius: 0.625rem;
}
th, td{
  padding: 0.938rem;
}

table tbody tr:nth-child(odd) {
  background: #e2e2e2;
}

.box-wrap{
  padding: 0 1rem;
}

.table-img{
  width: 3.125rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  text-align: center;
}

.deleteBtn{
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}

.deleteBtn:hover{
  box-shadow: 0 5px 10px rgba(253, 249, 249, 0.3);
  scale: 1.1;
}