@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*                Start of Navbar Styling             */
nav{
    background-color: #D9D9D9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

 ul li{
    list-style: none;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

.cart, .admin{
    display: flex;
    align-items: center;
}

.nav-icons a{
    text-decoration: none;
}

.links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-block: 20px;
}

ul li a{
    text-decoration: none;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    color: black;
}
.logo-img img{
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
}

/*           End of Navbar Styling                */


/*      Start of Footer Stylin     */
footer{
    background-color: #D9D9D9;
}

.footer-content{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation ul li a{
    display: flex;
}

.message{
    width: 400px;
}

.message p{
    font-size: 18px;
}

.message input{
    border: none;
    background-color: #D9D9D9;
    border-bottom: 2px solid black;
    margin-block: 10px;
    height: 35px;
}

.dropdown-content{
    display: none;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.image-logo:hover .dropdown-content {
    display: block;
}

/* .message input:focus{
    border-bottom: 0.125rem solid #000000;
    width: 30px;
    transition: 0.4s;
} */

.image-logo a img{
    width: 200px;
    height: 200px;
}

.copyright{
    text-align: center;
    padding: 10px;
    background-color: darkgrey;
}
/*         FOOTER STYLING           */




/*             CART MODAL STYLING                    */

.table-image thead td,.table-image thead th{
    border:0;
    color: black;
    font-size: 15px;
}

.table-image td,.table-image th{
    vertical-align:middle;
    text-align:center
}

.table-image td.quantity, .table-image th.quantity{
    max-width:2rem
}

.price{
    margin-left:1rem
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}
/*               CART MODAL STYLING               */