*{
    padding: 0;
    margin: 0;
}


/*       BEGINNING OF THE SLIDER STYLING       */
.slider-section{
    width: 100%;
    max-width: 100vw;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.list-items{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.items img{
    width: 1700px;
    height: 100%;
    object-fit: cover;
}

.slider-buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider-buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(95, 89, 89);
    color: whitesmoke;
    font-weight: bolder;
    font-family: monospace;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: aliceblue;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: azure;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active{
    width: 30px;
}

@media screen and (max-width: 700px) {
    .slider-section{
        height: 400px;
    }
}
/*       END OF THE SLIDER STYLING       */



/*   BEGINNING OF CARDS STYLING */
.home-section{
    margin-block: 20px;
    margin-inline: 20px;
    text-align: center;
}

.container{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    justify-content: center;
}

.card{
    background-color: #ddd;
    height: 450px;
    width: 350px;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 3px 20px rgba(199, 198, 198, 0.2);
    margin-inline: 10px;
    margin-block: 10px;
}

.card img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.info{
    position: absolute;
    padding: 15px;
    top: 87%;
    transition: 0.8s;
    text-align: center;
    align-items: center;
}

.info h2{
    color: whitesmoke;
    margin-bottom: 5px;
    position: relative;
}

.shop-btn button{
    background-color: grey;
    border: none;
    color: black;
    font-size: 12px;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    transition: 0.5s ease-in-out;
}

.card:hover img{
    top: -10%;
    filter: brightness(70%);
}

.card:hover .info{
    top: 45%;
    text-align: center
}
/* END OF CARDS STYLING */



/* SALES PITCH STYLING */
.special-sales{
    border: 1px solid black;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-evenly;
    padding: 17px;
    width: 1300px;
    margin: auto;
}

.sales-pitch{
    font-size: 20px;
    font-weight: 500;
}

.sale-text{
    vertical-align: middle;
}

.sale-picture img{
    width: 400px;
    height: 100%;
    margin-inline: 10px;
}

@media screen and (min-width: 300px) {
    .special-sales{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: auto;
    }
}
/*    END OF SALES PITCH STYLING  */